 .swiper-slide-active{
    flex:1 !important;
}
.swiper-slide-prev{
    flex:2 !important;
}
.swiper-slide-next{
    flex:1 !important;
}

/* .swiper-slide-duplicate-active{
    display: none;
}
.swiper-slide-duplicate-prev{
    display: none;
}
.swiper-slide-duplicate-next{
    display: none;
}  */