.swiper-slide-active {
  //min-width:78rem !important;
  width: 48.43% !important;
  //position: relative !important;
}
.swiper-slide-prev {
  //flex:1 !important;
  width: 15.89% !important;
  overflow: hidden !important;
}
.swiper-slide-next {
  //flex:1 !important;
  width: 15.89% !important;
  overflow: hidden !important;
  //margin-right: 0 !important;
}

/* .swiper-slide-duplicate-active{
    display: none;
}
.swiper-slide-duplicate-prev{
    display: none;
}
.swiper-slide-duplicate-next{
    display: none;
}  */
.swiper-pagination-bullet {
  //padding: 5px 5px;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background: #ffffff;
  opacity: 0.4;
  margin-bottom: 2rem;
}
.swiper-pagination-bullets {
  //margin-bottom:2rem;
  bottom: 2rem !important;
}
.swiper-pagination-bullet-active {
  background: #2cff2c;
  border-radius: 3.5px;
  width: 14px;
  height: 5px;
  opacity: 1;
}
